@model List<lab13.Models.Persona>
@{
    ViewBag.Title = "Listar";

    var grid = new WebGrid(source: Model, columnNames: new[]
    {
        "PersonaID","Nombre","Apellido","FechaNac","Direccion","Email"
    });
}

<h2>Listado de Personas</h2>
@grid.GetHtml(tableStyle: "table table-striped",
    columns: grid.Columns(
            grid.Column(columnName: "PersonaID", header:"Id"),
            grid.Column(columnName: "Nombre", header: "Nombre"),
            grid.Column(columnName: "Apellido", header: "Apellidos"),
            grid.Column(columnName: "FechaNac", header: "Fecha Nacimiento"),
            grid.Column(columnName: "Direccion", header: "Dirección"),
            grid.Column(columnName: "Email", header: "Email"),
            grid.Column(header:"Acciones",format:(item) =>
                        Html.ActionLink("Ver","Mostrar","Persona",new { id = item.PersonaID },null)
                        )

        )
    )
